<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
  <div class="example-container">
    <mat-form-field class="example-full-width">
      <input matInput [hidden]="fetching" value="Server Adress" [(ngModel)]="server" >
    </mat-form-field>
    <button mat-raised-button (click)="getTheThing()" *ngIf="!isServerFixed()">FIXED</button>
    <button mat-raised-button (click)="getItems()" *ngIf="isServerFixed() && !fetching">ITEMS</button>
    <button mat-raised-button (click)="reset()" *ngIf="isServerFixed()">RESET</button>
  </div>
  <br><br><br>
  <mat-card *ngIf="fetching">
    <mat-card *ngFor="let ite of items">
      <mat-card (click)="sendCommand(ite.id)"> Sensor : {{ ite.id}} </mat-card>
      <mat-card>Value : {{ite.v}}</mat-card>
    </mat-card>
  </mat-card>
 </div>

