<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
  <div class="example-container">
    <mat-form-field class="example-full-width">
      <input matInput [hidden]="fetching" value="server adress" [(ngModel)]="server" >
    </mat-form-field>
    <button mat-raised-button (click)="getTheThing()" *ngIf="!serveFix">FIXED</button>
    <button mat-raised-button (click)="getItems()" *ngIf="serveFix">ITEMS</button>
  </div>
  <br><br><br>
  <mat-card *ngIf="fetching">
    <mat-card *ngFor="let ite of items">
      <mat-card (click)="sendCommand(ite.id)"> Capteur : {{ ite.id}} </mat-card>
      <mat-card>Value : {{ite.v}}</mat-card>
    </mat-card>
  </mat-card>
 </div>
